@import url("https://fonts.googleapis.com/css?family=Lato");

/*html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #9387ab;
    font: 400 10px "Lato", sans-serif;
    text-align: center;
}*/

.header {
    font: 400 10px "Lato", sans-serif;
    text-align: center;

    width: 100%;
    height: 75px;
    background: #17141d;
    opacity: 0.95;
    overflow: hidden;
    -webkit-box-shadow: #333 1px 3px 4px;
    -moz-box-shadow: #333 1px 3px 4px;
    box-shadow: #333 1px 3px 4px;
}

.content {
    width: 100%;
    height: calc(100% - 75px);
    background-image: url(https://picsum.photos/1000/700);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #9387ab;
}
.header h1 {
    letter-spacing: 4px;
    padding: 1em;
    color: white;
    background-color: #17141d;
    opacity: 0.8;
}

.header svg.line-top {
    width: 100%;
    background-color: #17141d;
}
.header svg.line-bottom {
    width: 100%;
}
.header .menu {
    width: 750px;
    margin: 0 auto;
}
.header ul {
    padding: 0;
    margin: 0;
}

.header ul li {
    margin: 0;
    padding: 10px 0 10px 0;
    width: 25%;
    height: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 3.5px;
    transition: all 0.5s ease-out;
}

.header li.active {
    color: orange;
    transform: scale(1.1);
}

.header polygon {
    stroke-width: 2px;
    stroke: orange;
    fill: orange;
}

@media (max-device-width: 991px) {
    .header {
        height: 64px;
        font-size: 0.4em;
    }

    .content {
        height: calc(100% - 64px);
    }
}